* {
  padding: 0;
  margin: 0;
  border: 0;
}

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100vw;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

body {
  overflow-x: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

a, a:visited {
  text-decoration: none;
}

  a:hover {
    text-decoration: none;
  }

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}


@font-face {
  font-family: "sourseSans";
  src: url(./fonts/SourceSansPro-Regular.ttf);
}



h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::selection {
  background: grey;
  color: white;
  text-shadow: none;
}

.container {
  height: auto;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 25px;
}

@media (max-width: 769px){
  .container {
  padding: 0px 10px;
 }


}
body {
  font-family: sourseSans;
  letter-spacing: 1px;
}



/*БАННЕР*/
.banner_burger {
  display: none;
}

.banner {
  position: absolute;
  top: 0;
  height: 10vh;
  width: 100vw;
  z-index: 3;
  background: transparent;
  margin: 20px 0px;
  padding: 0px 50px;
}

.banner_row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.logo img {
  height: 100%;
}

.menu {
  position: relative;
}

.menu_row {
  position: relative;
  display: flex;
}

.menu_row__link {
  position: relative;
  margin: 0 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  color: white;
  transition: 0.5s;
  /*text-transform: uppercase;*/
}

.close_menu{
  display: none;
}

 .menu_row__link:hover{
  color: #c9a391;
 }


@media (max-width: 996px){
  .banner{
    padding: 10px;
  }
  .menu {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    background: #c9a391;
  }
  .menu_row {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu_row__link {
    margin: 0 00px;
    padding: 20px 10px;
    font-size: 20px;
    color: #664c41;
    transition: 0.5s;
    text-align: center;
  }

  .close_menu{
    display: block;
    position: absolute;
    width: 30px;
    right: 30px;
    top: 30px;
    border: 2px solid white;
    fill: #664c41;
    border-radius: 30%;
    padding: 5px;
    background: white
  }

 .banner_burger{
    display: block;
    position: fixed;
    width: 30px;
    right: 30px;
    top: 30px;
    border: 2px solid white;
    fill: #664c41;
    border-radius: 30%;
    padding: 5px;
    background: white;
 }

}

/*ГЛАВНАЯ*/
.header {
  position: relative;
  height: 120vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header_fon {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
}

  .header_fon img {
    position: absolute;
    height: 120%;
    width: 100%;
    top: -20vh;
    object-fit: cover;
  }

.header_title{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  font-size: 60;
}

.header_title span{
  display: inline-block;
  font-size: 30px;
  padding: 10px 0px;
}

.header_svg{
  position: relative;
  top: 75%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  height: 100px;
}

.header_svg svg{
  height: 30px;
  fill: white;
  margin: 0px 10px 10px 20px;
  transition: 0.5s;
}
.svg_soc svg:hover{
  fill: #c9a391;
}

.svg_tel{
  position: relative;
}

.svg_tel p{
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 20px;
  padding: 10px 10px;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.svg_tel:hover p{
  opacity: 1;
}


@media (max-width: 769px){
  .header_title{
    font-size: 30px;
    padding: 10px;
  }
  .header_title span{
    font-size: 18px;
  }

  .header_svg svg{
    height: 20px;
  }

}




.about{
  position: relative;
  display: flex;
  height: auto;
}

.about_title{
  position: relative;
  flex: 0 1 40%;
  display: flex;
  align-items: center;  
  padding: 60px 0px;
  margin: 50px;
  color: grey;
  text-align: center;
}


.about_title p{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;
  max-width: 200px;
}

.about_title p:before{
  content: url(ornament/ornament_about.png);
  position: absolute;
  transform: translate(170px, -70px);
}

.about_title p:after{
  content: url(ornament/ornament_about_down.png);
  position: absolute;
  transform: translate(-250px, 10px);
}

.about_text{
  position: relative;
  height: 100%;
  width: 100%;
  background: #664c41;
  color: white;
  display: flex;
  justify-content: space-around;
}

.about_what{
  flex: 0 1 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 100px 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}

.what_title{
  margin: 20px 0px;
  font-size: 25px;
  text-align: left;
  min-height: 50px;
  color: #c9a391;
}


@media (max-width: 769px){
  .about{
    flex-direction: column;
  }
  .about_title{
    flex: 0 1;
    padding: 70px 10px;
    margin: 0px;
  }

  .about_title p{
    position: relative;
    font-size: 25px;
  }
  .about_title p:before{
    content: url(ornament/ornament_about.png);
    position: absolute;
    transform: translate(150px, -50px);
  }

  .about_title p:after{
    content: url(ornament/ornament_about_down.png);
    position: absolute;
    transform: translate(-270px, -20px);
  }

  .about_text{
   flex-direction: column;
   justify-content: flex-start;   
  }

  .about_what{
    flex-direction: column;
    padding: 50px 30px;
    font-size: 15px;
  }
  .what_title{
    font-size: 18px;
    margin: 10px 0px;
    height: auto;
  }

}




.materials{
  width: 100vw;
  background: #3d322d;
}

.materials_container{
  display: flex;  
  padding: 100px;
  font-size: 16px;
  line-height: 20px;
  justify-content: space-between;
  color: white;
}

.materials_list{
  flex: 0 1 40%;
}

.list_tile{
  position: relative;
  height: 50px;
}

.materials_list p{
  font-size: 25px;
  margin: 20px 0px;
  color: #9c7a6a;  
}

.materials_list li{
  padding: 7px 0px;
  position: relative;
}

.materials_list li:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 5px;
  background: #9c7a6a;
  top: 50%;
  transform: translate(0, -50%);
  left: -20px;
}


@media (max-width: 769px){
  .materials_container{  
    padding: 30px;
    font-size: 15px;
    flex-direction: column;
  }

  .materials_list p{
    font-size: 18px;
    padding: 30px 0px 0px 0px;
  }

 }



.sub_fon{
  position: relative;
  overflow: hidden;
  height: 40vh;
  width: 100%;
  z-index: 1;
}

.sub_fon img{
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: 0;
  overflow: hidden;
}

@media (max-width: 769px){

}




.why{
  display: flex;
  width: 100vw;
  color: white;
  background: #3d322d;
}


.why_title{
  position: relative;
  font-size: 30px;
  color: grey;
  text-align: center;
  padding: 120px 50px;
  background: white; 
}

.why_title p:before{
  content: url(ornament/ornament_why.png);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80px);
}

.why_title p:after{
  content: url(ornament/ornament_why_down.png);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
}



.why_text{
  display: flex;
  justify-content: space-around;
  padding: 120px 50px;
}


.why_column{
  position: relative;
  padding: 0px 30px;
  font-size: 16px;
  line-height: 20px;  
  text-align: center;
  max-width: 300px;
}

.why_text_row{
  display: flex;
}

.why_column:before{
  content: '';
  height: 1px;
  width: 30px;
  position: absolute;
  background: #9c7a6a;
  left: 50%;
  top: -20px;
  transform: translate(-50%, 0);
}

.why_column:after{
  content: '';
  height: 1px;
  width: 30px;
  position: absolute;
  background: #9c7a6a;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 0);
}

@media (max-width: 769px){

  .why{
    flex-direction: column-reverse;
    height: auto;
  }

  .why_title{
    font-size: 25px;
    text-align: center;
    padding: 100px 30px;
  }

  .why_text{
    display: flex;
    justify-content: space-around;
    padding: 50px 30px;
    flex-direction: column;
  }

  .why_text_row{
    flex-direction: column;
  }

  .why_column{
    padding: 30px;
    font-size: 15px; 
    text-align: center;
  }

  .why_column:before{
   display: none;
  }

  .why_column:after{  
   display: none;
  }

}





.portfolio{
  position: relative; 
  width: 100vw;
  height: auto;

}

.portfolio_container{
  display: flex;
  
}

.porfolio_title{
  position: relative;
  flex: 1 1;
  background: white;
  z-index: 2;
  font-size: 30px;
  color: grey;
  text-align: center;
  padding: 50px 0px;
  color: #c9a391;
  background: #664c41;
  height: 700px;
}


.fotorama__dot{
  display: none !important;
}


.portfolio_text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 0px 10px;
  text-align: justify;
  max-width: 400px;
}

.fotorama_container{
  position: relative;
}

@media (max-width: 1200px){
.portfolio_container{
    flex-direction: column;
  }
  .portfolio_text{
    padding: 50px 0px
  }
  .porfolio_fotorama{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 769px){
  
  .portfolio_container{
    flex-direction: column;
  }

  .porfolio_title{
    font-size: 25px;
  }

  .portfolio_text{
    position: relative;
    font-size: 15px;
    padding: 30px;
  }

}

.poducts{
  padding-top: 200px;
  position: relative;
  width: 100vw;
}

.products_title{
  font-size: 30px;
  color: grey;
  text-align: center;
  padding: 50px 0px;
}


.products_title p:before{
  content: url(ornament/products.png);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80px);
}

.products_title p:after{
  content: url(ornament/products_down.png);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
}


.products_container{
  padding: 50px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;  
}

.products_row{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.product_one{
  position: relative;
  height: 350px;
  margin: 5px;
}


.product_one img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product_name{
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
  opacity: 0;
}

.product_name:before{
  content: url(ornament/product_text_up.png);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -60px);
}

.product_name:after{
  content: url(ornament/product_text_down.png);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30px);
}


.product_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #403b39;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 30px;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}


.product_one:hover .product_text{
  opacity: 1;
  height: 100%;
  width: 100%;
}

.product_one:hover .product_name{
  opacity: 1; 
}


@media (max-width: 769px){
  .products_title{
    position: relative;
  }
  .product_one{
    position: relative;
    height: 200px;
    margin: 5px;
  }
  .products_row{
    display: flex;
    flex-direction: column;
  }
}



.stores{
  background: #664c41;
  width: 100%;
  color: white;
  display: flex;
}

.stores_title{
  position: relative;
  flex: 0 1 30%;
  display: flex;
  align-items: center;  
  font-size: 25px;
  color: #c9a391;
  background: #3d322d; 
  text-align: center;
}

.stores_title p{
 padding: 0px 30px;
}

.stores_container{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  padding: 50px 50px;
  width: 100%;
}


.stores_adress {
  margin: 30px 10;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .stores_adress svg {
    position: relative;
    height: 20px;
    margin: 0px 10px;
  }

  .stores_adress a {
    display: inline-block;
    margin: 10px 0;
    color: black;
  }


.adress_tel_map{
  margin: 50px 0px 0px 0px;
}

.adress_tel_map svg{
  fill: ;
}

@media (max-width: 769px){
  .stores{
    flex-direction: column;
  }
  .stores_title p{
    position: relative;
    padding: 50px 30px;
  }
  .stores_container{
    flex-direction: column;
  }
  .stores_container{
    font-size: 15px;
  }
}



.mail {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding: 00px 0px 0px 0px;
}

.mail_title{
  font-size: 30px;
  padding: 30px 0px;
}

.mail_fon {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  z-index: 1;
}

  .mail_fon img {
    position: absolute;
    width: 100%;
    height: 120%;
    top: 0;
    overflow: hidden;
    object-fit: cover;
  }

.mail_container {
  padding: 50px 30;
  color: white;
}

  .mail_container * {
    z-index: 2;
  }

  .mail_container .title {
    color: white;
  }

.forma_container {
  position: relative;
  width: 50%;
  margin: 50px 0px;
}

.mail_subtitle {
  font-size: 19px;
}

.mail_container input {
  position: relative;
  width: 100%;
  background: transparent;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 19px;
  margin: 10px 0px;
}

.mail_flex {
  display: flex;
  color: white;
  justify-content: space-between;
}

.mail_info {
  position: relative;
  float: right;
  margin: 10px 0px 0px 0px;
  font-size: 20px;
  line-height: 26px;
  display: inline-block;
}

.send_container {
  position: relative;
  width: 100%;
}

#btn_send {
  display: inline-block;
  width: auto;
  position: relative;
  border: 2px solid white;
  padding: 15px 40px;
  font-size: 19px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.5s;
}

  #btn_send:hover {
    background: white;
    color: #261421;
  }

  #btn_send:active {
    background: #cccccc;
    color: #261421;
  }

.svg_send {
  display: none;
  position: relative;
  width: 35px;
  fill: white;
  margin-left: 35px;
}


@media (max-width: 769px){
  .mail_title{
    font-size: 25px;
  }
   .forma_container {
    position: relative;
    width: 100%;
    margin: 50px 0px;
  }

  .btn_send {
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
  }

  .mail_info {
    float: none;
  }

  .mail_flex {
    flex-direction: column;
  }
}



.footer{
  position: relative;
  height: 200px;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer_menu_row{
  padding: 30px 0px;
  display: flex;
  color: grey;
}

.footer_menu_row .menu_row__link{
  color: grey;
}

.footer_menu_row .menu_row__link:hover{
  color:  #c9a391;
}

.footer_soc{
  padding: 30px 0px;
}

.footer_soc svg{
  width: 25px;
  fill: grey;
  margin: 0px 10px;
}

@media (max-width: 769px){
  .footer{
    height: auto;
  }
  .footer_menu_row{
    flex-direction: column;
    padding: 10px 0px;
  }
}